[push]
    default = simple
[user]
    name = oplibs
    email = oplibs@gmail.com
[core]
    editor = /usr/bin/vim
    autocrlf = false

[alias]
    wk = worktree
    co = checkout
    ci = commit
    st = status
    pl = pull
    ps = push
    dt = difftool
    l = log --stat
    cp = cherry-pick
    ca = commit -a
    b = branch
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
[http]
    sslverify = false
[color]
    ui = auto
